<button mat-stroked-button color="primary" routerLink="/driverDashboard">Driver Dashboard</button>
<button mat-stroked-button color="primary" routerLink="/driverEdit">Driver Edit</button>
<h2>
  driver page works!
</h2>
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
