<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button mat-stroked-button color="primary" routerLink="/dashboard"> Dashboard </button>
<button mat-stroked-button color="primary" routerLink="/driver"> Driver </button>
<router-outlet></router-outlet>
<!-- Test Code -->
<!-- <ul>
  <li>
    <nav>
     <li> <a routerLink="/dashboard">dashboard</a></li>
      <li><a routerLink="/driver">driver</a></li>
      <li><a routerLink="/driverDashboard">driver Dashboard</a></li>
      <li><a routerLink="/driverEdit">driver ID</a></li>
    </nav>
  </li>
</ul> -->


